<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>System Status:</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>operationalstatus</string>
			<key>Title</key>
			<string>Armed:</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Timer</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>15</integer>
				<integer>30</integer>
				<integer>60</integer>
				<integer>120</integer>
				<integer>240</integer>
				<integer>720</integer>
				<integer>1440</integer>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Delay:</string>
			<key>Key</key>
			<string>settings_timer</string>
			<key>DefaultValue</key>
			<integer>60</integer>
			<key>Titles</key>
			<array>
				<string>15 minutes</string>
				<string>30 minutes</string>
				<string>1 hour</string>
				<string>2 hours</string>
				<string>4 hours</string>
				<string>12 hours</string>
				<string>1 day</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>Key</key>
			<string>settings_slider</string>
			<key>MaximumValue</key>
			<integer>300</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Upon Execute : Send SMS</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>9407651810</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>contactList</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Recipients:</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>i have become incapacitated or isolated from my phone</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>downMessage</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>SMS:</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
